// --- media queries ruleset -----

// -------------------------------
// ---------- :root --------------

// -------------------------------
// ---------- common -------------

// -------------------------------
// ------ sidebar left -----------

// -------------------------------
// ------ sidebar right ----------

// -------------------------------
// ------ main > header ----------

// -------------------------------
// ------ main > main ------------

// -------------------------------
// -------- main > footer --------

// -------------------------------
// ------ content > header -------

// -------------------------------
// ------ content > content ------

// -------------------------------
// ------ content > footer -------

// -------------------------------
// ---------- footer -------------

// -------------------------------