// ----------- __@imports__ ------------
@import "./devs/flex", "./devs/grid", "./devs/bootstrap", "./devs/media_queries";

// -------------------------------------
// ----------- shared rules ------------

$root-row-template: head .4 main 1 foot .4;
$main-col-template: side .6 main 1 side .6;
$img-container-column: main 1;
// -------------------------------------
$mediaQ: only screen desktop;
@include media($mediaQ) {
    body {
        $grid-template-columns: side 1 main 12.42;
        $grid-template-rows: $root-row-template;
        @include grid($grid-template-columns, $grid-template-rows);
    }
// ------------- main --------------
    main {
        $grid-column: main 1;
        $grid-row: full;
        @include grid-item($grid-column, $grid-row);
        $grid-template-columns: $main-col-template;
        $grid-template-rows: head .4 main 1 foot .4;
        @include grid($grid-template-columns, $grid-template-rows);
        .search {
            $grid-column: $img-container-column;
            $grid-row: head 1;
            @include grid-item($grid-column, $grid-row);
            $flex-items: top justify;
            @include flex($flex-items);
        }
        .img-container {
            $grid-column: $img-container-column;
            $grid-row: main 1;
            @include grid-item($grid-column, $grid-row);
            $flex-items: center center;
            @include flex($flex-items);

        }
        .img-container-tools {
            $grid-column: $img-container-column;
            $grid-row: head 1;
            @include grid-item($grid-column, $grid-row);
            $flex-items: top left;
            @include flex($flex-items);
            li {
                $flex-items: bottom justify;
                @include flex($flex-items);
            }
        }
        .saves {
            $grid-column: $img-container-column;
            $grid-row: foot 1;
            @include grid-item($grid-column, $grid-row);
            $flex-items: top center;
            @include flex($flex-items);
        }
        .brand-logo {
            $grid-column: $img-container-column;
            $grid-row: foot 1;
            @include grid-item($grid-column, $grid-row);
            $flex-items: bottom center;
            @include flex($flex-items);
        }

    }
    aside.left {
        $grid-column: side 1;
        $grid-row: full;
        @include grid-item($grid-column, $grid-row);
        $grid-template-columns: main 1;
        $grid-template-rows: $root-row-template;
        @include grid($grid-template-columns, $grid-template-rows);
        ul {
            $grid-column: full;
            $grid-row: main 1;
            @include grid-item($grid-column, $grid-row);
            li {
                $flex-items: center center column;
                @include flex($flex-items);
            }
        }
    } 
}