// ----------- __@imports__ ------------
@import "./NMTD_presets/narrow";
@import "./devs/flex", "./devs/grid", "./devs/bootstrap", "./devs/media_queries";

// -------------------------------------
$mediaQ: only screen desktop;

@include media($mediaQ) {
    body {
        $grid-template-columns: side 1 main 2.5 side 1;
        $grid-template-rows: head 1 main 2.5 foot 1;
        @include grid($grid-template-columns, $grid-template-rows);
    }

    header {
        $grid-column: full;
        $grid-row: head 1;
        @include grid-item($grid-column, $grid-row);
        $grid-template-columns: side .05 side .95 main 2.5 side .95 side .05;
        $grid-template-rows: head .05 main .9 foot .05;
        @include grid($grid-template-columns, $grid-template-rows);

        nav {
            $grid-column: side 2 to side 3;
            $grid-row: main 1;
            @include grid-item($grid-column, $grid-row);
            $flex-items: top left;
            @include flex($flex-items);
        }

        .pseudo-scroller {
            $grid-column: main 1;
            $grid-row: head 1;
            @include grid-item($grid-column, $grid-row);
            $flex-items: top center;
            @include flex($flex-items);
            div {
                width: 100%;
                height: 100%;
                @include grid-item($grid-column, $grid-row);
            }
        }
    }

    aside.left {
        $grid-column: side 1;
        $grid-row: main 1;
        @include grid-item($grid-column, $grid-row);
        $grid-template-columns: side .05 side .95;
        $grid-template-rows: main 1;
        @include grid($grid-template-columns, $grid-template-rows);
        ul {
            $grid-column: side 2;
            $grid-row: main 1;
            @include grid-item($grid-column, $grid-row);
            width: 100%;
            $flex-items: center left column;
            @include flex($flex-items);
            li {
                max-width: 20em;
            }
        }
    }

    main {
        $grid-column: main 1;
        $grid-row: main 1;
        @include grid-item($grid-column, $grid-row);
        $flex-items: center center;
        @include flex($flex-items);
    }

    footer {
        $grid-column: full;
        $grid-row: foot 1;
        @include grid-item($grid-column, $grid-row);
        $flex-items: justify center column;
        @include flex($flex-items);
    }
}