aside.left {
    li {

    }
}
aside.left.special {
    li {
        background-color: rgb(218, 140, 140);
        opacity: .1;
    }
}
.pseudo-scroller {
    div {
        background: rgb(61, 61, 61);
        clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
        border-radius: 10em;
    }
}

