aside.left {
    li {
        opacity: .9;
        height: 2.3em;
        margin-top: .1em;
        width: 100%;
        background: var(--menu-e-color);
        $g: 38; // gradation
        &:nth-child(3), &:nth-child(5) {
            background-color: rgb($rgb-1 + $g, $rgb-2 + $g, $rgb-3 + $g);
        }
        &:nth-child(2), &:nth-child(6) {
            background-color: rgb($rgb-1 + $g * 2, $rgb-2 + $g * 2, $rgb-3 + $g * 2);
        }
        &:nth-child(1), &:nth-child(7) {
            background-color: rgb($rgb-1 + $g * 3, $rgb-2 + $g * 3, $rgb-3 + $g * 3);
        }
    }
}
aside.left.special {
    li {
        background-color: rgb(218, 140, 140);
        opacity: .1;
    }
}
.pseudo-scroller {
    div {
        background: rgb(61, 61, 61);
        clip-path: polygon(0 0, 100% 0, 91% 100%, 9% 100%);
        border-radius: 10em;
    }
}

